# Python
__pycache__/
*.py[cod]
*.so

# 가상환경
venv/
env/
.venv/

# 패키지 관리
*.egg-info/
dist/
build/
.eggs/
*.egg

# 환경 설정
.env
*.sqlite3

# 테스트/캐시
.pytest_cache/
.mypy_cache/
.dmypy.json
.coverage

# Jupyter/노트북
.ipynb_checkpoints

# VSCode
.vscode/

# PyCharm (선택)
.idea/